{
    "dataFlowId": "{{.example_target_table}}_flow",
    "dataFlowGroup": "{{.pipeline_name}}",
    "dataFlowType": "flow",
    "targetFormat": "delta",
    "targetDetails": {
        "table": "{{.example_target_table}}",
        "tableProperties": {
            "delta.enableChangeDataFeed": "true"
        },
        "schemaPath": "{{.example_target_table}}_schema.json"
    },
    "dataQualityExpectationsEnabled": false,
    "quarantineMode": "off",
    "quarantineTargetDetails": {
        "targetFormat": "delta"
    },
    "flowGroups": [
        {
            "flowGroupId": "fg_{{.example_target_table}}",
            "flows": {
                "f_target": {
                    "flowType": "append_view",
                    "flowDetails": {
                        "targetTable": "{{.example_target_table}}",
                        "sourceView": "v_{{.example_source_table}}"
                    },
                    "views": {
                        "v_{{.example_source_table}}": {
                            "mode": "stream",
                            "sourceType": "delta",
                            "sourceDetails": {
                                "database": "{SOURCE_CAT_SCHEMA}",
                                "table": "{{.example_source_table}}",
                                "cdfEnabled": true
                            }
                        }
                    }
                }
            }
        }
    ]
}
