{
    "tokens": {
        "SOURCE_CAT_SCHEMA": "{{.source_catalog}}.{{.source_schema}}",
        "<TOKEN NAME>": "<TOKEN VALUE>"
    },
    "prefix_suffix": {
        "<FIELD NAME>": {
            "prefix": "<PREFIX>",
            "suffix": "<SUFFIX>"
        }
    }
}
